# Backend

DATABASE_URL="file:./apps/backend/dev.db"

NODE_ENV=local
APP_PORT=3000
API_PREFIX='/trpc'

SECRET_KEY=secret
JWT_EXPIRES_IN='7d'

###

# Frontend
VITE_APP_URL="http://localhost:3000/trpc"

###
